<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunrun.mapper.DevBrandModelMapper">

	<insert id="saveDevBrandModel">
		insert into dev_brand_model(
			id,						brand_name,					model_name,				ios_version,		
			ios_version_2,			create_time,				state,					create_user
		) values(
			#{model.id},			#{model.brandName},			#{model.modelName},		#{model.iosVersion}, 					
			#{model.iosVersion2},	now(),		 				1,						#{model.create_user}
		)
	</insert>
	

	<select id="findBrandModel" resultType="com.sunrun.entity.DevBrandModel">
		select 
			brand_name AS brandName,
			model_name AS modelName,
			ios_version AS iosVersion,
			ios_version_2 AS iosVersion2,
			model_describe AS modelDescribe,
			showkvm_describe AS showkvmDescribe
		from dev_brand_model
		where 1=1
		<if test="model.id != null">
		    AND id = #{model.id}
		</if>
		<if test="model.brandName != null">
		    AND brand_name = #{model.brandName}
		</if>
		<if test="model.modelName != null">
		    AND model_name = #{model.modelName}
		</if>
		<if test="model.modelDescribe != null">
		    AND model_describe = #{model.modelDescribe}
		</if>
	</select>

	

</mapper>