<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunrun.mapper.DevExclusiveSwitchboardInfoMapper">

	<select id="findDevExclusiveSwitchboardInfo" resultType="com.sunrun.entity.DevExclusiveSwitchboardInfo">
		select 
			id AS id,
			create_time AS create_time,
			create_user AS create_user,
			update_time AS update_time,
			update_user AS update_user,
			state AS state,
			exclusive_switchboard_ip AS exclusiveSwitchboardIp,
			exclusive_switchboard_port AS exclusiveSwitchboardPort,
			exclusive_switchboard_order AS exclusiveSwitchboardOrder,
			exclusive_switchboard_note AS exclusiveSwitchboardNote,
			exclusive_switchboard_type AS exclusiveSwitchboardType,
			manager_switchboard_ip AS managerSwitchboardIp,
			exclusive_switchboard_port_state AS exclusiveSwitchboardPortState,
			telnet_type AS telnetType,
			telnet_user AS telnetUser,
			telnet_pwd AS telnetPwd,
			telnet_port AS telnetPort
			
		from dev_exclusive_switchboard_info
		where state=1
		<if test="info.id != null">
		    AND id = #{info.id}
		</if>
		<if test="info.exclusiveSwitchboardPortState != null">
		    AND exclusive_switchboard_port_state = #{info.exclusiveSwitchboardPortState}
		</if>
		<if test="info.exclusiveSwitchboardIp != null and info.exclusiveSwitchboardIp!='' and info.exclusiveSwitchboardIp!='null'">
		    AND exclusive_switchboard_ip = #{info.exclusiveSwitchboardIp}
		</if>
		<if test="info.exclusiveSwitchboardPort != null and info.exclusiveSwitchboardPort!='' and info.exclusiveSwitchboardPort!='null'">
		    AND exclusive_switchboard_port = #{info.exclusiveSwitchboardPort}
		</if>
	</select>
	
	<update id="updateDevExclusiveSwitchboardInfo">
		update dev_exclusive_switchboard_info
			<trim prefix="set" suffixOverrides=",">
				update_time = now(),
				<if test="info.exclusiveSwitchboardPortState != null">exclusive_switchboard_port_state=#{info.exclusiveSwitchboardPortState},</if>
				<if test="info.state != null">state=#{info.state},</if>
			</trim>
		where state=1
		<if test="info.exclusiveSwitchboardIp != null">
		    AND exclusive_switchboard_ip = #{info.exclusiveSwitchboardIp}
		</if>
		<if test="info.exclusiveSwitchboardPort != null">
		    AND exclusive_switchboard_port = #{info.exclusiveSwitchboardPort}
		</if>
	</update>

	

</mapper>