<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunrun.mapper.DevExclusiveSwitchboardInfoMapper">

	<select id="findDevExclusiveSwitchboardInfo" resultType="com.sunrun.entity.DevExclusiveSwitchboardInfo">
		select 
			id AS id,
			create_time AS create_time,
			create_user AS create_user,
			update_time AS update_time,
			update_user AS update_user,
			state AS state,
			exclusive_switchboard_ip AS exclusiveSwitchboardIp,
			exclusive_switchboard_port AS exclusiveSwitchboardPort,
			exclusive_switchboard_order AS exclusiveSwitchboardOrder,
			exclusive_switchboard_note AS exclusiveSwitchboardNote
		from dev_exclusive_switchboard_info
		where 1=1
		<if test="info.id != null">
		    AND id = #{info.id}
		</if>
		<if test="info.exclusiveSwitchboardIp != null">
		    AND exclusive_switchboard_ip = #{info.exclusiveSwitchboardIp}
		</if>
		<if test="info.exclusiveSwitchboardPort != null">
		    AND exclusive_switchboard_port = #{info.exclusiveSwitchboardPort}
		</if>
	</select>

	

</mapper>