<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunrun.mapper.DevIosVersionsMapper">

	<insert id="saveIosVersion">
		insert into dev_ios_versions(
			id,						brand_name,					model_name,				ios_version,	create_user	
			ios_version_2,			newth_ios_version,			create_time,			state
		) values(
			#{version.id},			#{version.brandName},		#{version.modelName},	#{version.iosVersion}, 	#{version.create_user}				
			#{version.iosVersion2},	#{version.newthIosVersion},		now(),		 		1			
		)
	</insert>
	
	<update id="updateIosVersion">
		update dev_ios_versions
			<trim prefix="set" suffixOverrides=",">
				update_time = now(),
				<if test="version.brandName != null">brand_name=#{version.brandName},</if>
				<if test="version.modelName != null">model_name=#{version.modelName},</if>
				<if test="version.iosVersion != null">ios_version=#{version.iosVersion},</if>
				<if test="version.iosVersion2 != null">ios_version_2=#{version.iosVersion2},</if>
				<if test="version.newthIosVersion != null">newth_ios_version=#{version.newthIosVersion},</if>
				<if test="version.state != null">state=#{version.state},</if>
				<if test="version.update_user != null">update_user=#{version.update_user},</if>
			</trim>
		where 1=1
		<if test="version.id != null">
		    AND id = #{version.id}
		</if>
	</update>
	
	<delete id="deleteIosVersion">
		delete from dev_ios_versions
		where 1=1
		<if test="id != null">
		    AND id = #{id}
		</if>
	</delete>

	<select id="findIosVersion" resultType="com.sunrun.entity.DevIosVersions">
		select 
			brand_name AS brandName,
			model_name AS modelName,
			ios_version AS iosVersion,
			ios_version_2 AS iosVersion2,
			newth_ios_version AS newthIosVersion,
			id,
			create_time,
			create_user,
			update_user,
			update_time,
			state
		from dev_ios_versions
		where 1=1
		<if test="version.id != null">
		    AND id = #{version.id}
		</if>
		<if test="version.brandName != null">
		    AND brand_name = #{version.brandName}
		</if>
		<if test="version.modelName != null">
		    AND model_name = #{version.modelName}
		</if>
	</select>

	

</mapper>