<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunrun.mapper.DevIosFtpInfoMapper">


	<select id="findIosFtpInfo" resultType="com.sunrun.entity.DevIosFtpInfo">
		select 
			brand_name AS brandName,
			model_name AS modelName,
			console_telnet_user AS consoleTelnetUser, 
			console_telnet_pwd AS consoleTelnetPwd, 
			telnet_type AS telnetType,
			telnet_user AS telnetUser,
			telnet_port AS telnetPort,
			telnet_pwd AS telnetPwd
			state
		from dev_ios_ftp_info
		where 1=1
		<if test="version.id != null">
		    AND id = #{version.id}
		</if>
		<if test="version.brandName != null">
		    AND brand_name = #{version.brandName}
		</if>
		<if test="version.modelName != null">
		    AND model_name = #{version.modelName}
		</if>
	</select>

	

</mapper>