<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunrun.mapper.DevOnlineTaskItilMapper">
	
	<insert id="saveTaskItil">
		insert into dev_online_task_itil(
			id,						itil_number,				dev_online_task_id,		create_time,	state
		) values(
			#{taskItil.id}, 		#{taskItil.itilNumber},	#{taskItil.devOnlineTaskId},	now(),		 1
		)
	</insert>
	
	
	<select id = "findTaskItilMap" resultType="com.sunrun.entity.DevOnlineTaskItil">
		select * from dev_online_task_itil where 1=1
		<if test="taskId != null">
			and dev_online_task_id = #{taskId}
		</if>
		<if test="itilNumber != null">
			and itil_number = #{itilNumber}
		</if>
		<if test="id != null">
			and id = #{id}
		</if>
	</select>
	
	<delete id="deleteTaskItil">
		delete from dev_online_task_itil
		where 1=1
		<if test="itilNumber != null">
			and itil_number = #{itilNumber}
		</if>
		<if test="taskId != null">
			and dev_online_task_id = #{taskId}
		</if>
	</delete>
	
</mapper>
