<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunrun.mapper.DevOnlineTaskMapper">
	
	<insert id="saveDevOnlineTask">
		insert into dev_online_task(
			id,						task_type,			group_key,			task_describe,		task_state,
			brand_name,				model_name,				area_name,		area_describe,		host_name,		manager_ip,
			main_switchboard_ip,	main_switchboard_port,		backup_switchboard_ip,			backup_switchboard_port,
			dev_online_rack,		exclusive_switchboard_ip,	exclusive_switchboard_port,		create_time,	state
		) values(
			#{task.id}, 			#{task.taskType},	#{task.groupKey}, #{task.taskDescribe}, #{task.taskState},
			#{task.brandName},		#{task.modelName},	#{task.areaName},	#{task.areaDescribe}, #{task.hostName}, #{task.managerIp},	
			#{task.mainSwitchboardIp},#{task.mainSwitchboardPort}, #{task.backupSwitchboardIp},	#{task.backupSwitchboardPort},
			#{task.devOnlineRack}, #{task.exclusiveSwitchboardIp}, #{task.exclusiveSwitchboardPort}, now(),		1
		)
	</insert>
	
	<update id="updateDevOnlineTask">
		update dev_online_task
		<trim prefix="set" suffixOverrides=",">
				update_time = now(),
				<if test="task.groupKey != null">group_key=#{task.groupKey},</if>
				<if test="task.taskDescribe != null">task_describe=#{task.taskDescribe},</if>
				<if test="task.taskState != null">task_state=#{task.taskState},</if>
				<if test="task.brandName != null">brand_name=#{task.brandName},</if>
				<if test="task.modelName != null">model_name=#{task.modelName},</if>
				<if test="task.areaName != null">area_name=#{task.areaName},</if>
				<if test="task.areaDescribe != null">area_describe=#{task.areaDescribe},</if>
				<if test="task.hostName != null">host_name=#{task.hostName},</if>
				<if test="task.managerIp != null">manager_ip=#{task.managerIp},</if>
				<if test="task.mainSwitchboardIp != null">main_switchboard_ip=#{task.mainSwitchboardIp},</if>
				<if test="task.mainSwitchboardPort != null">main_switchboard_port=#{task.mainSwitchboardPort},</if>
				<if test="task.backupSwitchboardIp != null">backup_switchboard_ip=#{task.backupSwitchboardIp},</if>
				<if test="task.backupSwitchboardPort != null">backup_switchboard_port=#{task.backupSwitchboardPort},</if>
				<if test="task.devOnlineRack != null">dev_online_rack=#{task.devOnlineRack},</if>
				<if test="task.exclusiveSwitchboardIp != null">exclusive_switchboard_ip=#{task.exclusiveSwitchboardIp},</if>
				<if test="task.backupSwitchboardPort != null">backup_switchboard_port=#{task.backupSwitchboardPort},</if>
				<if test="task.exclusiveSwitchboardPort != null">exclusive_switchboard_port=#{task.exclusiveSwitchboardPort},</if>
				<if test="task.state != null">state=#{task.state},</if>
			</trim>
		where 1=1
		<if test="task.id != null">
		    AND id = #{task.id}
		</if>
	</update>
	
	<delete id="deleteDevOnlineTask">
		delete from dev_online_task where 1=1
		<if test="id != null">
		    AND id = #{id}
		</if>
	</delete>
	
	<select id = "findTaskById" resultType="com.sunrun.entity.DevOnlineTask">
		select * from dev_online_task where id = #{id}
	</select>
	
</mapper>
