<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunrun.mapper.DevOnlineTaskMapper">
	
	<insert id="saveDevOnlineTask">
		insert into dev_online_task(
			id,						task_type,			    group_key,		task_describe,		task_state,		vlan,
			brand_name,				model_name,				area_name,		area_describe,		host_name,		manager_ip,
			main_switchboard_ip,	main_switchboard_port,		backup_switchboard_ip,			backup_switchboard_port,
			dev_online_rack,		exclusive_switchboard_ip,	exclusive_switchboard_port,		create_time,	state,
			manager_ip_write,		access_config_write,	exclusive_switchboard_info,			current_ios_version,	main_switchboard_config_write,
			model_ios_version,		access_version_write
		) values(
			#{task.id}, 			#{task.taskType},	#{task.groupKey}, #{task.taskDescribe}, #{task.taskState},  #{task.vlan},
			#{task.brandName},		#{task.modelName},	#{task.areaName},	#{task.areaDescribe}, #{task.hostName}, #{task.managerIp},	
			#{task.mainSwitchboardIp},#{task.mainSwitchboardPort}, #{task.backupSwitchboardIp},	#{task.backupSwitchboardPort},
			#{task.devOnlineRack}, #{task.exclusiveSwitchboardIp}, #{task.exclusiveSwitchboardPort}, now(),		1,
				0,						0,					 #{task.exclusiveSwitchboardInfo},	#{task.currentIosVersion},	0,
			#{task.modelIosVersion},#{task.accessVersionWrite}
		)
	</insert>
	
	<update id="updateDevOnlineTask">
		update dev_online_task
		<trim prefix="set" suffixOverrides=",">
				update_time = now(),
				<if test="task.groupKey != null">group_key=#{task.groupKey},</if>
				<if test="task.taskDescribe != null">task_describe=#{task.taskDescribe},</if>
				<if test="task.taskState != null">task_state=#{task.taskState},</if>
				<if test="task.brandName != null">brand_name=#{task.brandName},</if>
				<if test="task.modelName != null">model_name=#{task.modelName},</if>
				<if test="task.areaName != null">area_name=#{task.areaName},</if>
				<if test="task.areaDescribe != null">area_describe=#{task.areaDescribe},</if>
				<if test="task.hostName != null">host_name=#{task.hostName},</if>
				<if test="task.managerIp != null">manager_ip=#{task.managerIp},</if>
				<if test="task.vlan != null">vlan=#{task.vlan},</if>
				<if test="task.mainSwitchboardIp != null">main_switchboard_ip=#{task.mainSwitchboardIp},</if>
				<if test="task.mainSwitchboardPort != null">main_switchboard_port=#{task.mainSwitchboardPort},</if>
				<if test="task.backupSwitchboardIp != null">backup_switchboard_ip=#{task.backupSwitchboardIp},</if>
				<if test="task.backupSwitchboardPort != null">backup_switchboard_port=#{task.backupSwitchboardPort},</if>
				<if test="task.devOnlineRack != null">dev_online_rack=#{task.devOnlineRack},</if>
				<if test="task.exclusiveSwitchboardIp != null">exclusive_switchboard_ip=#{task.exclusiveSwitchboardIp},</if>
				<if test="task.backupSwitchboardPort != null">backup_switchboard_port=#{task.backupSwitchboardPort},</if>
				<if test="task.exclusiveSwitchboardPort != null">exclusive_switchboard_port=#{task.exclusiveSwitchboardPort},</if>
				<if test="task.state != null">state=#{task.state},</if>
				<if test="task.managerIpWrite != null">manager_ip_write=#{task.managerIpWrite},</if>
				<if test="task.accessConfigWrite != null">access_config_write=#{task.accessConfigWrite},</if>
				<if test="task.exclusiveSwitchboardInfo != null">exclusive_switchboard_info=#{task.exclusiveSwitchboardInfo},</if>
				<if test="task.currentIosVersion != null">current_ios_version=#{task.currentIosVersion},</if>
				<if test="task.mainSwitchboardConfigWrite != null">main_switchboard_config_write=#{task.mainSwitchboardConfigWrite},</if>
				<if test="task.modelIosVersion != null">model_ios_version=#{task.modelIosVersion},</if>
				<if test="task.accessVersionWrite != null">access_version_write=#{task.accessVersionWrite},</if>
			</trim>
		where 1=1 
		<if test="task.id != null"> 
		    AND id = #{task.id}
		</if>
	</update>
	
	<delete id="deleteDevOnlineTask">
		delete from dev_online_task where 1=1 
		<if test="id != null"> 
		    AND id = #{id}
		</if>
	</delete>
	
	<select id = "findTaskById" resultType="com.sunrun.entity.view.DevOnlineBatchTaskView">
		SELECT * from(
			SELECT 
				t.id AS taskId,
				t.task_type AS taskType,
				t.group_key AS groupKey,
				t.task_describe AS taskDescribe,
				t.task_state AS taskState,
				t.brand_name AS brandName,
				t.model_name AS modelName,
				t.area_name AS areaName,
				t.area_describe AS areaDescribe,
				t.host_name AS hostName,
				t.manager_ip AS managerIp,
				t.vlan AS vlan,
				t.main_switchboard_ip AS mainSwitchboardIp,
				t.main_switchboard_port AS mainSwitchboardPort,
				t.backup_switchboard_ip AS backupSwitchboardIp,
				t.backup_switchboard_port AS backupSwitchboardPort,
				t.dev_online_rack AS devOnlineRack,
				t.exclusive_switchboard_ip AS exclusiveSwitchboardIp,
				t.exclusive_switchboard_port AS exclusiveSwitchboardPort,
				t.create_time AS taskCreateTime,
				t.update_time AS taskUpdateTime,
				t.manager_ip_write AS managerIpWrite,
				t.access_config_write AS accessConfigWrite,
				t.exclusive_switchboard_info AS exclusiveSwitchboardInfo,
				t.current_ios_version AS currentIosVersion, 
				t.main_switchboard_config_write AS mainSwitchboardConfigWrite,
				t.model_ios_version AS modelIosVersion,
				t.access_version_write AS accessVersionWrite,
				e.execute_step As executeStep
				
			FROM  dev_online_task t  LEFT JOIN dev_task_execute e  ON e.task_id = t.id 
			WHERE t.state=1  
		) taskView	where 1=1 
		<if test="taskView.taskId!=null">
		    AND taskId = #{taskView.taskId}
		</if>
		<if test="taskView.executeStep!=null">
		    AND executeStep = #{taskView.executeStep}
		</if>
	</select>
	
</mapper>
