<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunrun.mapper.DevOnlineItilExecuteMapper">

	<insert id="saveItilExecute">
		insert into dev_online_itil_execute(
			id,				batch_name,				batch_describe,			batch_state,		 create_time,	      	state,
			itil_number,	itil_assignee,			itil_category,			itil_subcategory,	itil_businessArea,		itil_status,
			itil_requestor, itil_title,				itil_description,		itil_plannedEnd,	itil_sourceId,			itil_requestedDate,
			itil_source,	itil_openedBy,			create_user
		) values(
			#{itil.id},		#{itil.batchName},		#{itil.batchDescribe},		1, 					now(),				 1,
			#{itil.itilNumber},#{itil.itilAssignee},#{itil.itilCategory},	#{itil.itilSubcategory},#{itil.itilBusinessArea},#{itil.itilStatus},
			#{itil.itilRequestor},#{itil.itilTitle},#{itil.itilDescription},#{itil.itilPlannedEnd},#{itil.itilSourceId},#{itil.itilRequestedDate},
			#{itil.itilSource},	#{itil.itilOpenedBy},#{itil.create_user}
		)
	</insert>
	

	<select id="findItilExecuteInfo" resultType="com.sunrun.entity.DevOnlineItilExecute">
		SELECT  
			itil_sourceId AS itilSourceId,
			itil_requestedDate AS itilRequestedDate,
			itil_source itilSource,
			itil_openedBy AS itilOpenedBy,
			batch_name AS batchName,
			batch_describe AS batchDescribe ,
			batch_state AS batchState ,
			itil_number AS itilNumber ,
			itil_assignee AS itilAssignee ,
			itil_category AS itilCategory ,
			itil_subcategory AS itilSubcategory ,
			itil_businessArea AS itilBusinessArea ,
			itil_status AS itilStatus ,
			itil_requestor AS itilRequestor ,
			itil_title AS itilTitle ,
			itil_description AS itilDescription ,
			itil_plannedEnd AS itilPlannedEnd ,
			create_time,
			create_user,
			update_user,
			update_time,
			state
		
		FROM dev_online_itil_execute WHERE itil_number = #{itilNumber}
	</select>
	

</mapper>