<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunrun.mapper.DevPortCommandInfoMapper">


	<select id="findPortCommandInfo" resultType="com.sunrun.entity.DevPortCommandInfo">
		select 
			id AS id,
			handler_name AS handlerName,
			switchboard_ip AS switchboardIp,
			port_mode_vlan AS portModeVlan,
			command,
			method,
			execute_state AS executeState,
			execute_info AS executeInfo,
			execute_order AS executeOrder,
			create_time AS createTime,
			state
		from dev_port_command_info
		where state=1
		<if test="port!=null and port.switchboardIp!=null">
		    AND switchboard_ip = #{port.switchboardIp}
		</if>
		<if test="port!=null and port.portModeVlan!=null">
		    AND port_mode_vlan = #{port.portModeVlan}
		</if>
		<if test="port!=null and port.taskId!=null">
		    AND task_id = #{port.taskId}
		</if>
		<if test="port!=null and port.method!=null">
		    AND method = #{port.method}
		</if>
		<if test="port!=null and port.command!=null">
		    AND command = #{port.command}
		</if>
		order by execute_order asc
	</select>
	
	<insert id="savePortCommandInfo">
		insert into dev_port_command_info(
			id,			handler_name,		switchboard_ip,			port_mode_vlan,
			execute_state,						state,				create_time,
			command,	 method, 			execute_info ,			task_id,		execute_order
		) values (
			#{port.id},	#{port.handlerName}, #{port.switchboardIp}, #{port.portModeVlan},
			#{port.executeState},				1,					now(),
			#{port.command},#{port.method},#{port.executeInfo},		#{port.taskId},	#{port.executeOrder}
		)
	</insert>
	
	<update id="editPortCommand">
		update dev_port_command_info 
		<trim prefix="set" suffixOverrides=",">
			update_time = now(),
			<if test="port!=null and port.executeState != null">execute_state=#{port.executeState},</if>
			<if test="port!=null and port.executeInfo != null">execute_info=#{port.executeInfo},</if>
		</trim>
		where state=1
		<if test="port!=null and port.switchboardIp!=null">
		    AND switchboard_ip = #{port.switchboardIp}
		</if>
		<if test="port!=null and port.portModeVlan!=null">
		    AND port_mode_vlan = #{port.portModeVlan}
		</if>
		<if test="port!=null and port.taskId!=null">
		    AND task_id = #{port.taskId}
		</if>
		<if test="port!=null and port.id!=null">
		    AND id = #{port.id}
		</if>
		<if test="port!=null and port.executeOrder!=null">
		    AND execute_order = #{port.executeOrder}
		</if>
	</update>
	
	<update id="editExecuteStatusGT">
		update dev_port_command_info 
		<trim prefix="set" suffixOverrides=",">
			update_time = now(),
			<if test="port!=null and port.executeState != null">execute_state=#{port.executeState},</if>
			<if test="port!=null and port.executeInfo != null">execute_info=#{port.executeInfo},</if>
		</trim>
		where state=1
		<if test="port!=null and port.switchboardIp!=null">
		    AND switchboard_ip = #{port.switchboardIp}
		</if>
		<if test="port!=null and port.portModeVlan!=null">
		    AND port_mode_vlan = #{port.portModeVlan}
		</if>
		<if test="port!=null and port.taskId!=null">
		    AND task_id = #{port.taskId}
		</if>
		<if test="port!=null and port.method!=null">
		    AND method = #{port.method}
		</if>
		<if test="port!=null and port.executeOrder!=null">
		    AND execute_order <![CDATA[ > ]]> #{port.executeOrder}
		</if>
	</update>
	
	<update id="editExecuteStatusLT">
		update dev_port_command_info 
		<trim prefix="set" suffixOverrides=",">
			update_time = now(),
			<if test="port!=null and port.executeState != null">execute_state=#{port.executeState},</if>
			<if test="port!=null and port.executeInfo != null">execute_info=#{port.executeInfo},</if>
		</trim>
		where state=1
		<if test="port!=null and port.switchboardIp!=null">
		    AND switchboard_ip = #{port.switchboardIp}
		</if>
		<if test="port!=null and port.portModeVlan!=null">
		    AND port_mode_vlan = #{port.portModeVlan}
		</if>
		<if test="port!=null and port.taskId!=null">
		    AND task_id = #{port.taskId}
		</if>
		<if test="port!=null and port.method!=null">
		    AND method = #{port.method}
		</if>
		<if test="port!=null and port.executeOrder!=null">
		    AND execute_order <![CDATA[ < ]]> #{port.executeOrder}
		</if>
	</update>
	
	<select id="findExecuteDetail" resultType="com.sunrun.entity.DevPortCommandInfo">
		select 
			id AS id,
			handler_name AS handlerName,
			switchboard_ip AS switchboardIp,
			port_mode_vlan AS portModeVlan,
			command,
			method,
			execute_state AS executeState,
			execute_info AS executeInfo,
			create_time AS createTime,
			execute_order AS executeOrder,
			state
		from dev_port_command_info
		where state=1
		<if test="port!=null and port.switchboardIp!=null">
		    AND switchboard_ip = #{port.switchboardIp}
		</if>
		<if test="port!=null and port.portModeVlan!=null">
		    AND port_mode_vlan = #{port.portModeVlan}
		</if>
		<if test="port!=null and port.taskId!=null">
		    AND task_id = #{port.taskId}
		</if>
		order by execute_order
	</select>
	
	<select id="findIpAndPortByTaskId" resultType="com.sunrun.entity.DevPortCommandInfo">
		select DISTINCT  
			execute_state AS executeState,
			execute_info AS executeInfo,
			task_id AS taskId,	 
			switchboard_ip AS switchboardIp,
			port_mode_vlan AS portModeVlan
		from dev_port_command_info
		where state=1   AND task_id = #{taskId}
	</select>

</mapper>