<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunrun.mapper.DevScriptConfigMapper">

	<insert id="saveDevScriptConfig">
		insert into dev_script_config(
			id,						object_id,					dev_type,				script_type,		
			script_order,			script_info,				create_time,			state,			create_user
		) values(
			#{config.id},			#{config.objectId},			#{config.devType},		#{config.scriptType}, 					
			#{config.scriptOrder},	#{config.scriptInfo},		now(),		 			1,				#{config.create_user}
		)
	</insert>
	
	
	<select id="findDevScriptConfig" resultType="com.sunrun.entity.DevScriptConfig">
		select 
			object_id AS objectId,
			dev_type AS devType,
			script_type AS scriptType,
			script_order AS scriptOrder,
			script_info AS scriptInfo
			
		from dev_script_config where 1=1
		<if test="config.objectId != null">
			object_id = #{config.objectId}
		</if>
		<if test="config.devType != null">
			dev_type = #{config.devType}
		</if>
		<if test="config.scriptOrder != null">
			order by script_order asc
		</if>
	</select>

	

</mapper>