<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunrun.mapper.UserBeanMapper">


	<select id="findUser" resultType="com.sunrun.entity.UserBean">
		select 
			id AS id,
			usercode AS userCode,
			username AS userName,
			password AS passWord,
			email AS email,
			mobile_phone AS mobilePhone,
			locked AS locked
			
		from sys_user 
		where 1=1
		<if test="user.id != null">
		    AND id = #{user.id}
		</if>
		<if test="user.userCode != null">
		    AND usercode = #{user.userCode}
		</if>
		
	</select>

	

</mapper>